﻿<!DOCTYPE html>
<html>
	<head>
		<title>Environment</title>
	</head>
	<body>
        
		<h1>Environment</h1>

        <ul>
            <li><a href="@Model.Services.Url">Services</a></li>
            <li><a href="@Model.Nodes.Url">Processing Nodes</a></li>
            <li><a href="@Model.EventStores.Url">Event Stores</a></li>
            <li><a href="@Model.ViewStores.Url">View Stores</a></li>
            <li><a href="@Model.Manage.Url" target="_blank">Manage</a></li>
        </ul>
	</body>
</html>