﻿<!DOCTYPE html>
<html>
	<head>
		<title>Processing Nodes</title>
	</head>
	<body>
		<h1>Processing Nodes</h1>
        <ul>
            @foreach (var node in Model.Nodes)
            {
                <li>
                    <a href="@node.Details.Url">@node.Id</a>
                </li>
            }            
        </ul>
        <a href="@Model.Parent.Url">Environment</a>
	</body>
</html>