﻿<!DOCTYPE html>
<html>
	<head>
		<title>EventStoreBus node @Model.Id</title>
	</head>
	<body>
		<h1>EventStoreBus node @Model.Id</h1>
        <h2>Deployments</h2>
        <ul>
            @foreach (var deployment in Model.Deployments)
            {
                <li>
                    <a href="@deployment.Self.Url">@deployment.Id - @deployment.Service/@deployment.Component v.@deployment.Version</a>
                </li>
            }            
        </ul>
	</body>
</html>