﻿<!DOCTYPE html>
<html>
	<head>
		<title>Services</title>
	</head>
	<body>
		<h1>Services</h1>
        <ul>
            @foreach (var service in Model.Services)
            {
                <li>
                    <a href="@service.Details.Url">@service.Name</a>
                </li>
            }            
        </ul>
        <a href="@Model.Parent.Url">Environment</a>
	</body>
</html>