﻿<!DOCTYPE html>
<html>
	<head>
		<title>Host instance</title>
	</head>
	<body>
		<h1>State: @Model.State</h1>
        <a href="@Model.Deployment.Url">Deployment</a>
        <a href="@Model.Manage.Url" target="_blank">Manage</a>
	</body>
</html>