﻿<!DOCTYPE html>
<html>
	<head>
		<title>View Store @Model.Name</title>
	</head>
	<body>
        
		<h1>View Store @Model.Name</h1>

        <div>Connection String: @Model.ConnectionString</div>
	</body>
</html>