﻿<!DOCTYPE html>
<html>
	<head>
		<title>EventStoreBus node @Model.Id</title>
	</head>
	<body>
		<h1>EventStoreBus node @Model.Id</h1>
        <h2>Deployments</h2>
        <ul>
            @foreach (var deployment in Model.Deployments)
            {
                <li>
                    <a href="@deployment.Self.Url">@deployment.Id - @deployment.Service/@deployment.Component v.@deployment.Version</a>
                    <form method="post" style="display: inline" action="@deployment.Start.Url?verb=@deployment.Start.Verb">
                        <input type="submit" value="Start" />
                    </form>
                    <form method="post" style="display: inline" action="@deployment.Stop.Url?verb=@deployment.Stop.Verb">
                        <input type="submit" value="Stop" />
                    </form>
                    <form method="post" style="display: inline" action="@deployment.Undeploy.Url?verb=@deployment.Undeploy.Verb">
                        <input type="submit" value="Undeploy" />
                    </form> 
                </li>
            }            
        </ul>
	</body>
</html>